body {
    background-color: #fffcf2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    margin: 0;
}

#container {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}

#mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 10rem;
}

#containerHead {
    text-decoration: underline;
    font-size: 5rem;
}

#searchContainer {
    width: 45rem;
    display: flex;
    justify-content: space-between;
}

/* For Chrome, Safari, Edge, and Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    appearance: textfield;
}

#equalBtn {
    margin: 0rem;
    display: flex;
    justify-content: center;
}

#firstCurrencyInput,
#secondCurrencyInput {
    font-size: 1.7rem;
    width: 10rem;
}

#firstCurrencySelect,
#secondCurrencySelect {
    font-size: 1.5rem;
    width: 5.2rem;
    padding: 0.2rem;
}